.App{
  background-color: #f3f8fe;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}


.main_container{
  height: 98vh;
  width: 99%;
  margin: 10px;
  border-radius: 2px;
  border: 3px solid white;
  background-color:#f4f8fd ;
}